In [1]:
import os
import pandas as pd
import janitor
import numpy as np
pd.set_option('display.max_columns', 100)

DATAPATH = "../../adult-data"

In [2]:
# (fold cell) Load web browsing data
usecols_web_desktop = ["caseid", "category", "private_domain", "visit_duration", "visit_time_local"]
usecols = ["caseid", "category", "private_domain", "page_duration", "session_start_time"]

df = (pd.concat([
        # Get web_mobile
        pd.read_csv(
            os.path.join(DATAPATH, "output/realityMine_web_mobile_2022-06-01_2022-06-30.csv"),
            usecols=usecols_web_desktop,
            low_memory=False,
        ), 
        # Get web_desktop
        pd.read_csv(
            os.path.join(DATAPATH, "output/realityMine_web_desktop_2022-06-01_2022-06-30.csv"),
            usecols=usecols_web_desktop,
            low_memory=False,
        ),
        # Get web
        (pd.read_csv(
            os.path.join(DATAPATH, "output/realityMine_web_2022-06-01_2022-06-30.csv"),
            usecols=usecols,
            low_memory=False,
        )
         # Renaming columns to be consistent w/ web_mobile & web_desktop
         .rename_column("session_start_time", "visit_time_local")
         .rename_column("page_duration", "visit_duration")
        )
        ])
      .assign(caseid=lambda df: df.caseid.astype(object))      
     )
print("df of web browses")
print(f"{len(df)=:,}")
df.head()

df of web browses
len(df)=5,090,441

,caseid,private_domain,category,visit_time_local,visit_duration
0,210362181,liveineverett.com,NaN,2022-05-31 17:19:01,50
1,210362181,wa.gov,"Education, Government",2022-05-31 19:28:41,48
2,210362181,yahoo.com,Economy and Finance,2022-06-01 03:16:33,1
3,210362181,collider.com,Entertainment,2022-06-01 03:29:15,60
4,210362181,yahoo.com,"Education, News and Media",2022-06-01 03:42:43,83

In [18]:
df_caseid = (df
             .rename_column("visit_duration", "seconds")
             .groupby("caseid")["seconds"].sum().reset_index()
             .sort_values("seconds", ignore_index=True)
             .assign(
                 mins=lambda df: df.seconds/60,
                 hours=lambda df: df.mins/60,
             )
            )
df_caseid.head(50)

       caseid  seconds       mins     hours
0   286663881        2   0.033333  0.000556
1   206433705        5   0.083333  0.001389
2   301913121        6   0.100000  0.001667
3     8085031        7   0.116667  0.001944
4    80623593        8   0.133333  0.002222
5   286591993       36   0.600000  0.010000
6   307997169       38   0.633333  0.010556
7   240099429       46   0.766667  0.012778
8     8953795       46   0.766667  0.012778
9   320316041       62   1.033333  0.017222
10  317420377       92   1.533333  0.025556
11  205649397      116   1.933333  0.032222
12  341159521      190   3.166667  0.052778
13   92995949      210   3.500000  0.058333
14  278170389      222   3.700000  0.061667
15  342064093      316   5.266667  0.087778
16   88383623      358   5.966667  0.099444
17    4875409      412   6.866667  0.114444
18  238620589      416   6.933333  0.115556
19  331920577      478   7.966667  0.132778
20    6114399      480   8.000000  0.133333
21    9267561      506   8.433333  0.140556
22    7142187      510   8.500000  0.141667
23  337491485      554   9.233333  0.153889
24   93096729      666  11.100000  0.185000
25   80655819      720  12.000000  0.200000
26   60080289      726  12.100000  0.201667
27  233426857      734  12.233333  0.203889
28    5753683      735  12.250000  0.204167
29  202579925      770  12.833333  0.213889
30    4924277      797  13.283333  0.221389
31  241154313      875  14.583333  0.243056
32   43918963      912  15.200000  0.253333
33   87989253     1092  18.200000  0.303333
34   63267117     1152  19.200000  0.320000
35  200953869     1182  19.700000  0.328333
36  282642433     1694  28.233333  0.470556
37  319335157     1798  29.966667  0.499444
38    7242377     1907  31.783333  0.529722
39  295189309     1948  32.466667  0.541111
40    5421327     2008  33.466667  0.557778
41  232351965     2280  38.000000  0.633333
42  268569353     2368  39.466667  0.657778
43   55750039     2398  39.966667  0.666111
44  292869161     2592  43.200000  0.720000
45  288085533     2959  49.316667  0.821944
46    8815273     3038  50.633333  0.843889
47    4060199     3458  57.633333  0.960556
48    8799581     3533  58.883333  0.981389
49  335844793     3799  63.316667  1.055278

In [21]:
len(df_caseid.query("hours<1"))

49

In [22]:
len(df_caseid.query("hours<2"))

83

In [24]:
len(df_caseid.query("hours<5"))

152